#include "pa.cuh"
                        
                        
extern "C" {
void {{func_name}}(void* out_ptr,
        void* workspace_buffer,
        void* query_ptr,
        void* key_cache_ptr,
        void* value_cache_ptr,
        float scale,
        const int num_seqs,
        const int num_kv_heads,
        const int num_heads,
        const int max_num_partitions,
        const int q_stride,
        const int kv_block_stride,
        const int kv_head_stride,
        const int kv_seq_stride,
        int* kv_indptr_ptr,
        int* kv_page_indices_ptr,
        int* kv_last_page_lens_ptr,
        const float* alibi_slopes_ptr,
        float logits_soft_cap,
        const float* k_scale_ptr,
        const float* v_scale_ptr,
        const float* fp8_out_scale_ptr,
        void* stream);
}
                        
void {{func_name}}(void* out_ptr,
        void* workspace_buffer,
        void* query_ptr,
        void* key_cache_ptr,
        void* value_cache_ptr,
        float scale,
        const int num_seqs,
        const int num_kv_heads,
        const int num_heads,
        const int max_num_partitions,
        const int q_stride,
        const int kv_block_stride,
        const int kv_head_stride,
        const int kv_seq_stride,
        int* kv_indptr_ptr,
        int* kv_page_indices_ptr,
        int* kv_last_page_lens_ptr,
        const float* alibi_slopes_ptr,
        float logits_soft_cap,
        const float* k_scale_ptr,
        const float* v_scale_ptr,
        const float* fp8_out_scale_ptr,
        void* stream)
{
    constexpr int head_size       = {{head_size}};
    constexpr int PARTITION_SIZE = 256;
    constexpr int gqa_ratio = {{gqa_ratio}};
    assert(num_heads % num_kv_heads == 0);

    float* exp_sums_ptr   = reinterpret_cast<float*>(workspace_buffer);
    float* max_logits_ptr = exp_sums_ptr + (num_seqs * num_heads * max_num_partitions);
    {{dtype}}* tmp_out_ptr =
        reinterpret_cast<{{dtype}}*>(max_logits_ptr + (num_seqs * num_heads * max_num_partitions));

    constexpr int NTHR = 256;
    dim3 grid(num_seqs, max_num_partitions, num_kv_heads);
    dim3 block(NTHR);
    if(logits_soft_cap>0){
        paged_attention_ll4mi_QKV_mfma16_kernel<{{dtype}},                       
                                                {{kv_dtype}},                            
                                                {% if fp8_kv_dtype == 'auto' %}
                                                vllm::Fp8KVCacheDataType::kAuto,
                                                {% else %}
                                                vllm::Fp8KVCacheDataType::kFp8E4M3,
                                                {% endif %}
                                                {{out_dtype}},                    
                                                {{block_size}},              
                                                head_size,               
                                                NTHR,                    
                                                {{"true" if alibi_enabled else "false"}},           
                                                true, 
                                                gqa_ratio>               
        <<<grid, block, 0, reinterpret_cast<hipStream_t>(stream)>>>(reinterpret_cast<{{dtype}}*>(query_ptr),                      
                                     reinterpret_cast<{{kv_dtype}}*>(key_cache_ptr),                  
                                     reinterpret_cast<{{kv_dtype}}*>(value_cache_ptr),                
                                     scale,                          
                                     kv_indptr_ptr,                  
                                     kv_page_indices_ptr,            
                                     kv_last_page_lens_ptr,          
                                     alibi_slopes_ptr,               
                                     q_stride,                       
                                     kv_block_stride,                
                                     kv_head_stride,                 
                                     kv_seq_stride,                  
                                     exp_sums_ptr,                   
                                     max_logits_ptr,                 
                                     tmp_out_ptr,                    
                                     reinterpret_cast<{{out_dtype}}*>(out_ptr),                        
                                     logits_soft_cap,                
                                     k_scale_ptr,                    
                                     v_scale_ptr,                    
                                     fp8_out_scale_ptr);
    }else{
       paged_attention_ll4mi_QKV_mfma16_kernel<{{dtype}},                       
                                               {{kv_dtype}},
                                                {% if fp8_kv_dtype == 'auto' %}
                                                vllm::Fp8KVCacheDataType::kAuto,
                                                {% else %}
                                                vllm::Fp8KVCacheDataType::kFp8E4M3,
                                                {% endif %}             
                                               {{out_dtype}},                    
                                               {{block_size}},              
                                               head_size,               
                                               NTHR,                    
                                               {{"true" if alibi_enabled else "false"}},           
                                               false, 
                                               gqa_ratio>               
        <<<grid, block, 0, reinterpret_cast<hipStream_t>(stream)>>>(reinterpret_cast<{{dtype}}*>(query_ptr),                      
                                     reinterpret_cast<{{kv_dtype}}*>(key_cache_ptr),                  
                                     reinterpret_cast<{{kv_dtype}}*>(value_cache_ptr),                
                                     scale,                          
                                     kv_indptr_ptr,                  
                                     kv_page_indices_ptr,            
                                     kv_last_page_lens_ptr,          
                                     alibi_slopes_ptr,               
                                     q_stride,                       
                                     kv_block_stride,                
                                     kv_head_stride,                 
                                     kv_seq_stride,                  
                                     exp_sums_ptr,                   
                                     max_logits_ptr,                 
                                     tmp_out_ptr,                    
                                     reinterpret_cast<{{out_dtype}}*>(out_ptr),                        
                                     logits_soft_cap,                
                                     k_scale_ptr,                    
                                     v_scale_ptr,                    
                                     fp8_out_scale_ptr);
    }

    dim3 reduce_grid(num_heads, num_seqs);
    dim3 reduce_block(head_size);
    paged_attention_ll4mi_reduce_kernel<{{dtype}}, {{out_dtype}}, head_size, head_size, PARTITION_SIZE, {{npar_loops}}, {{"true" if block_size>1 else "false"}}> 
    <<<reduce_grid, reduce_block, 0, reinterpret_cast<hipStream_t>(stream)>>>(reinterpret_cast<{{out_dtype}}*>(out_ptr),                                        
                                                                              exp_sums_ptr,        
                                                                              max_logits_ptr,                                 
                                                                              tmp_out_ptr,                                   
                                                                              kv_indptr_ptr,                                 
                                                                              kv_last_page_lens_ptr,                         
                                                                              {{block_size}},                                    
                                                                              max_num_partitions,                            
                                                                              fp8_out_scale_ptr);
                                    
}